@import "./_variables.scss";

* {
  font-family: "Inter", "Open Sans";
  font-size: 12pt;
}

h3 {
  font-size: 12pt;
  margin-bottom: 0;
  font-weight: 500;
  color: $primary;
}

h4 {
  font-size: 12pt;
  margin-bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
  color: $primary;
}

.btn {
  all: unset;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 10pt;
  &-primary {
    @extend .btn;
    background-color: $primary;
    color: white;
  }
  &-alert {
    @extend .btn;
    background-color: $alert;
    color: white;
  }
  &-back {
    all: unset;
    svg {
      fill: $primary;
    }
  }
}

.App {
  .header-component {
    background: rgb(0,96,169);
    background: linear-gradient(90deg, rgba(0,96,169,1) 0%, rgba(0,96,169,1) 50%, rgba(217,241,229,1) 50%, rgba(217,241,229,1) 100%);
    height: 3.5rem;
    .header-container {
      display: flex;
      height: 100%;
      align-items: center;
    justify-content: flex-start;
      .right-container {
        height: 100%;
        padding: 1rem 0;
        background-color: $cta;
        width: 100%;
        padding-left: 1.2rem;
        img {
          height: 100%;
          width: auto;
        }
      }
       .left-container {
        padding-right: 1.2rem;
        color:white;
      }
    }
  }
  .step-container {
    &.active {
      .step-header {
        background-color: $cta;
      }
    }
    .step-header {
      background-color: $secondary;
      display: flex;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      align-items: center;
      .label {
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $alert;
        text-align: center;
        color: white;
        font-weight: 600;
      }
      button {
        margin-left: auto;
      }
    }
    .preview-box {
      background-color: $cta;
      border-radius: 1rem;
      padding: 1.3rem;
      h3 {
        margin-bottom: 1rem;
      }
      .step-one-box-container {
        width: fit-content;
        .step-one-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          height: 16rem;
          border-radius: 0.5rem;
          overflow: hidden;
          img {
            height: 100%;
            width: auto;
          }
        }
        p {
          width: 20ch;
          font-size: 10pt;
        }
      }
    }

    .step-content-container {
      padding: 1rem;
    }
    .code-container {
      * {
        font-size: 0.8rem !important;
      }
    }
  }
}
